<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		 		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}">
				<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
				<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
				<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
				<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
				<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
			</target>
			<target name="file" xsi:type="File" layout="${longdate}|${level}|${stacktrace}|${message}" fileName="${basedir}/PolyglotCli.log"></target>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeto="console">
				<logger name="*" minlevel="Debug" writeto="file">
				</logger>
			</logger>
		</rules>
	</nlog>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
